.container {
    min-width: 800px; 
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    margin-top: 30px;
}

.left-image {
    float: left; 
    border-radius: 10px 0px 0px 10px;
    margin-right: 20px; 
    min-width: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.text-block {
    margin: 0px;
    overflow: hidden; 
    min-width: 400px;
    background-color: #D9D9D9;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
    padding: 10px 20px;
}

h1, p {
    text-align: center;
    font-weight: bold;
}
