.container {
    margin: 10px;
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 220px;
}

.sinal {
    display: flex;
    align-items: center;
    background-color: #C8C7C7;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.icon {
    margin-right: 5px;
}

.name {
    text-align: right;
    font-weight: bold;
}

.dados {
    display: block;
    align-items: center;
    width: 200px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}